<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
</head>

<body>
    <div class="about-body">
    {{>nav}}
    <div class="about-container">
        <div class="pic-div">
            <img src="img/naz.jpg" alt="">
        </div>
        <div class="description-div">
            <h1>NazmuL Islam</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est ipsam excepturi neque laborum error in ea eaque modi, similique aliquam enim quibusdam deleniti non blanditiis ducimus ex ullam sunt temporibus!</p>
        </div>
    </div>
    {{>footer}}
    </div>
    {{>js}}
</body>

</html>