<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
</head>

<body>
    <section class="container-section">
        <div class="cricle"></div>
        {{>nav}}
        <main>
            <div class="text-left-div">
                <h1>Grow you business with</h1>
                <h2>Nazmul Islam</h2>
                <p>We are team of talanted developer making websites</p>
                <a href="/project"><button class="btn1" type="button">Get Started</button></a>
            </div>
            <div class="img-right-div">
                <img src="./img/Component 1.svg" alt="svg" />
            </div>
        </main>
        {{>footer}}
    </section>
    {{>js}}
</body>

</html>