<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
    {{>nav}}
    <div class="main-section">
        <div class="box">
            <h1>Porject 1</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque blanditiis cumque, eaque voluptates dolore voluptatum!</p>
            <a href="#project1">Play</a>
        </div>
        <div class="box">
            <h1>Porject 1</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque blanditiis cumque, eaque voluptates dolore
                voluptatum!</p>
                <a href="#project2">Play</a>
        </div>
        <div class="box">
            <h1>Porject 1</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque blanditiis cumque, eaque voluptates dolore
                voluptatum!</p>
                <a href="#project3">Play</a> 
        </div>
        <div class="box">
            <h1>Porject 1</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque blanditiis cumque, eaque voluptates dolore
                voluptatum!</p>
                <a href="#project4">Play</a>
        </div>
        <div class="box">
            <h1>Porject 1</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque blanditiis cumque, eaque voluptates dolore
                voluptatum!</p>
                <a href="#project5">Play</a>
        </div>
        <div class="box">
            <h1>Porject 1</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque blanditiis cumque, eaque voluptates dolore
                voluptatum!</p>
                <a href="#project6">Play</a>
        </div>

    </div>
    {{>footer}}
    {{>js}}
</body>
</html>