<nav>
    <h2><a href="/">NazmulIslam</a></h2>
    <ul class="nav-items">
        <li class="nav-links"><a href="/">Home</a></li>
        <li class="nav-links"><a href="/secret">Secret</a></li>
        <li class="nav-links"><a href="/services">Services</a></li>
        <li class="nav-links"><a href="/about">About</a></li>
        <li class="nav-links"><a href="/login">Log In</a></li>
        <li class="nav-links"><a href="/logout">Log Out</a></li>
        <li class="nav-links"><a href="/contact">Contact</a></li>
    </ul>
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>